[2021-09-30 01:55] AxelLin opened #208 "esp_mqtt_client_disconnect should send DISCONNECT Packet before close session"
[1] 3.14 DISCONNECT – Disconnect notification
The DISCONNECT Packet is the final Control Packet sent from the Client to the Server.
It indicates that the Client is disconnecting cleanly.

Calling esp_mqtt_client_disconnect() does not send DISCONNECT Packet, it just close the tcp session.
(Only esp_mqtt_client_stop send DISCONNECT Packet, this seems wrong.)

[1] http://docs.oasis-open.org/mqtt/mqtt

[2021-09-30 07:12] bertmelis commented on #208
Would this mean that when disconnected the last will is always sent even when we gracefully disconnect.

[2021-10-03 07:42] david-cermak commented on #206
@bertmelis Thanks for the report, this is definitely a faulty behavior.

It was *intentional* in the past, as `disable_auto_reconnect` was introduced after manual reconnection, so it was supposed to work properly, only if autoreconnect been disabled by setting the `reconnect_timeout_ms` a very-very big number. But now we have to update the reconnection logic.

The WIP fix is below:
[Client-Fix-rec

[2021-10-03 07:50] david-cermak commented on #208
@AxelLin Thanks for the report, this needs fixing.

This patch should fix the problem:
[Send-disconnect-message-if-client-asked-to-disconnec.patch.txt](https://github.com/espressif/esp-mqtt/files/7272912/Send-disconnect-message-if-client-asked-to-disconnec.patch.txt)

@bertmelis Yes, whenever a user app called `esp_mqtt_client_disconnect()` the connection would be abruptly terminated and lwt would

[2021-10-03 08:00] david-cermak commented on #207
@goofy2k Could you be more specific on the "strange behaviour", please? I haven't noticed anything unexpected, but yes, with the debug level set, all the mqtt partial reads and ping requests/responsed are displayed, too.
I don't think there's anything wrong with the logging severity, as for example arduino is build with [`CONFIG_LOG_DEFAULT_LEVEL_ERROR=y`](https://github.com/espressif/arduino-esp3

[2021-10-03 11:25] goofy2k commented on #207
@david-cermak,  thanks for your reply. Clear, the mqtt client does it's work as expected. The cause of the unexpected behaviour was in a different part of my code. My sight on this was obscured for two reasons: 1) the occurrence of the error depended on the logging level 2) the async nature of mqtt.    I solved the issue by increasing stack size. I propose to close this issue.

[2021-10-03 11:25] #207 closed

[2021-10-03 14:01] bertmelis commented on #206
Thanks. I'll try with the patch.

Just a question: are unit tests you're talking about public? In this repo CI is only to check whether the example builds, right?

[2021-10-03 17:14] david-cermak commented on #206
Most of the mqtt tests are located in IDF, but, yes, they are public. As for the unit tests we have a very simple suite of
* target tests: https://github.com/espressif/esp-idf/blob/master/components/mqtt/test/test_mqtt.c
* host tests: https://github.com/espressif/esp-idf/tree/master/components/mqtt/host_test

This GitHub repo runs a very basic `travis` build only. In addition to that we run a simp

[2021-10-04 13:53] #200 closed

[2021-10-20 03:11] galah92 opened #209 "Streaming API (IDFGH-6052)"
Hi,

My ESP-based application fetch data from SPI and send it via MQTT. I'd like to lower the number of sent messages, and technically able to concatenate the data to larger messages. But, I don't have enough free ram for that.

Can we add API for stream a message (with known size), so that I could publish a single message in chunks?

[2021-11-03 10:01] goofy2k opened #210 "Question: event: running post MQTT_EVENTS: 6 with handler.... and context .... on loop ... (IDFGH-6146)"
Hi, just a question.  I see messages as indicated in the issue title in my logs.  What does it mean?

[2021-11-04 15:24] AndriiFilippov commented on #210
Hi, @goofy2k !

This is a debugging log from the esp_event.
https://github.com/espressif/esp-idf/blob/master/components/esp_event/esp_event.c#L127

[2021-11-04 16:32] goofy2k commented on #210
OK, thanks Andrii,  so there is nothing wrong :-). I just have to lower the
logging setting to less than DEBUG.

Op do 4 nov. 2021 16:24 schreef Andrii ***@***.***>:

[2021-11-05 01:51] Alvin1Zhang commented on #210
Thanks for reporting, you could also create a post on our forum at https://esp32.com, thanks.

[2021-11-05 06:51] david-cermak commented on #210
@goofy2k I agree with @Alvin1Zhang , please prefer the forum for basic/general questions about IDF/ESP32(-X).

anyway, I think you're satisfied with @AndriiFilippov 's answers, so closing this issue.

[2021-11-05 06:51] #210 closed

[2021-11-05 12:38] david-cermak commented on #209
Hi @galah92

Thanks for this feature request! It really makes sense to add this stream API, but could also bring about some trouble.
1) This could only work for qos=0 messages if we want to store them in the outbox (and store we must, per spec)
2) Also, this could complicate the current implementation, as we have to silence all possible acknowledges, pings and re-sends when streaming of one messag

[2021-11-15 14:55] josete89 opened #211 "How to publish recurrent data from a temp sensor (IDFGH-6238)"
Hi,

Thanks a lot for your efforts building this. I've acquired recently an esp32 device, my use case is easy I want to publish periodically a message in mqtt topic with the value of the temperature (from a connected sensor). I'm able to get the temp values but I'm trying to create a task calling `xTaskCreate()` inside the mqtt handler (when the event connect comes thought) but is faliing due to a

[2021-11-16 08:19] garudaonekh opened #212 "How to get this work with TinyGSM (IDFGH-6243)"
Hello,
My esp32 needs to connect to the Internet via GPRS 2G so we use TinyGSm but we have trouble integrating it with ESP-MQTT. Any suggestion?

Thanks;

[2021-11-18 11:03] david-cermak commented on #212
@garudaonekh Have you checked this example https://github.com/espressif/esp-idf/tree/master/examples/protocols/pppos_client ?

It seems that TinyGSM connects using PPP mode, too, so should really work the same way as in the example above.

[2021-11-19 01:21] garudaonekh commented on #212
yes, this should work. However,i cannot get it work with TTGO Sim800. However, I got another adapted one working. Thanks

[2021-11-19 07:55] #212 closed

[2021-11-29 04:25] AxelLin commented on #208
However, the esp-idf does not update esp-mqtt submodule.
So this is actually not (yet) fixed in any esp-idf branch now.

[2021-11-29 11:39] garudaonekh opened #213 "Sometimes loop stop forever after: MQTT_CLIENT: Error write data or timeout, written len = 0, errno=0 (IDFGH-6314)"
Hi,
My code sometimes stop running after MQTT_CLIENT: Error write data or timeout, written len = 0, errno=0, i.e, it can't return from this function: esp_mqtt_client_publish. This happen after several mqtt_client timeout.

I think my issue is related with this: https://github.com/espressif/esp-mqtt/issues/126

My code is mainly based on this: https://github.com/levkovigor/MQTT_VPN_ESP32/blob/main/

[2021-12-14 08:49] josete89 commented on #211
Seems if you trigger the task creation outside the event_handler, works like a charm, this is my final code:

[code]
In the task
[code]

[2021-12-14 08:49] #211 closed

[2021-12-15 10:25] david-cermak commented on #209
Closing for short of feedback. The patch above works but has to be used in consideration, so better not merging this to the official  master branch.

[2021-12-15 10:25] #209 closed

[2021-12-15 10:26] david-cermak commented on #213
@garudaonekh  Could you please provide a simple project that would exhibit his problem?

[2021-12-20 13:27] DCSBL opened #214 "esp_mqtt_client_publish with data longer than buffer causes disconnect and issues with Mosquitto (IDFGH-6461)"
# Summary
When using `esp_mqtt_client_publish` with a message longer than the buffer size (`MQTT_BUFFER_SIZE_BYTE`), the client disconnects and Mosquitto receives garbage data.

# Environment
- Tested with ESP-IDF: `v4.1.2`, `v4.3` and `[master]` @ (https://github.com/espressif/esp-idf/commit/279c8aeb8a312a178c73cf4b50a30798332ea79b), (Issue not present on `v4.1`)
- Tested with selected esp-mqtt s

[2021-12-21 07:48] ESP-YJM commented on #214
@DCSBL Please use this patch and test
[0001-mqtt_client-Fix-mqtt-send-long-data-error.zip](https://github.com/espressif/esp-mqtt/files/7750497/0001-mqtt_client-Fix-mqtt-send-long-data-error.zip)
.

[2021-12-21 08:19] DCSBL commented on #214
Thanks. Tested with same example and https://github.com/espressif/esp-idf/commit/279c8aeb8a312a178c73cf4b50a30798332ea79b. Confirmed that this patch fixes my issue.

[2021-12-21 09:11] DCSBL commented on #214
I am not really sure, but it seems that [this test](https://github.com/espressif/esp-idf/blob/master/tools/test_apps/protocols/mqtt/publish_connect_test/app_test.py) does not tests payloads larger than the buffer size. The largest payload is tested with `start_publish_case(transport, qos, 50, 1, q)`: `50 * DEFAULT_MSG_SIZE (16) = 800`, smaller than `MQTT_BUFFER_SIZE_BYTE` (1024 by default).

Is it

[2021-12-21 09:31] ESP-YJM commented on #214
@DCSBL Thanks for pointing out it. I think it is a good idea, we will implement it.

[2021-12-22 02:54] #214 closed

[2021-12-22 20:31] brahma-dev opened #215 "Unable to use global ca store (IDFGH-6481)"
I am trying to use the global ca store as follows.

[code]
But it appears that `use_global_ca_store` and `crt_bundle_attach` can't be used together, which results in an empty global cert. `esp-tls-mbedtls: global_cacert is NULL`

https://github.com/espressif/esp-mqtt/blob/026253d802473ac9afd4cc747e2632e96f71acbb/mqtt_client.c#L205-L207

[2022-01-04 02:53] misterzirillo opened #216 "Does ESP-MQTT support MQTT v5? (IDFGH-6538)"
Digging around in the docs I don't see mention of the protocol version.

https://docs.oasis-open.org/mqtt/mqtt/v5.0/mqtt-v5.0.html

[2022-01-06 02:47] someburner opened #217 "CONFIG_MQTT_CUSTOM_OUTBOX usage (IDFGH-6554)"
Using the latest esp-idf master branch and setting CONFIG_MQTT_CUSTOM_OUTBOX=y, I am unable to get a project to link with custom outbox. I admit I'm not very accustomed to cmake so perhaps there is some setting I need to use to get it to link?

Basically I just added a copy of `mqtt_outbox.c` and `mqtt_outbox.h` to my project but when I build I get link errors for all the outbox methods.

Perhaps

[2022-01-07 16:32] SERIDJ opened #218 "Simultaneous MQTT and HTTP server (IDFGH-6565)"
hi,

iam usig esp32 and esp idf 4.3 Framework .

is it possible to run using 2 task an MQTT client (port 8883) to publish data and have web page at same time .
for now each task work well separately. But i got error when i try to run both task at same code.

like :

 E (385828) TRANS_TCP: tcp_poll_read select error 113, errno = Software caused connection abort, fd = 57
E (385848) MQTT_CLIENT: Poll

[2022-01-10 12:20] david-cermak commented on #217
Hi @someburner

Yes, it has something to do with the way cmake builds IDF, the outbox implementation needs to be added to the `mqtt` component (static lib) sources. Here's how you can do it from your Makefile:
[code]

[2022-01-10 12:26] david-cermak commented on #218
Hi @SERIDJ

It seems like you might be running out of available sockets in your system. Please check the settings of [`CONFIG_LWIP_MAX_SOCKETS`](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/kconfig.html#config-lwip-max-sockets)

No problem in general to run multiple instances of mqtt client and http server at the same time. Things to consider: Enough socket descriptors

[2022-01-10 13:29] SERIDJ commented on #218
@david-cermak  thanks for ur replay

 yes i fixe it , its probleme of stack_size  ... but how i can calcule the exact size for each task, i know its by word so esp32 is 32 bit so one word is 4 bytes ....

[2022-01-10 14:47] david-cermak commented on #218
Ok, thanks for the update. Closing this.

While It is theoretically possible to calculate the needed stack depth, I'd suggest trying this API to get the maximum runtime stack usage [uxTaskGetStackHighWaterMark](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/system/freertos.html#_CPPv427uxTaskGetStackHighWaterMark12TaskHandle_t) while running your app for some time.

[2022-01-10 14:47] #218 closed

[2022-01-10 17:07] euripedesrocha commented on #215
Hi @brahma-dev,
you are correct, these options are mutually exclusive.

Could you elaborate on why you want to use both?

[2022-01-10 17:09] euripedesrocha commented on #216
Hi @misterzirillo,
we don't support MQTT v5.
We do have it planned for the future, but it's not likely to happen anytime soon.

[2022-01-10 17:10] misterzirillo commented on #216
Thanks for the update!

[2022-01-10 17:10] #216 closed

[2022-01-10 17:37] euripedesrocha commented on #215
I suggest that you first take a look on [esp-tls documentation](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/protocols/esp_tls.html?highlight=global_ca_store) about the usage of the `global_ca_store`

[2022-01-11 09:17] brahma-dev commented on #215
Apologies and thanks, I had misunderstood `use_global_ca_store`.

[2022-01-11 09:17] #215 closed

[2022-01-11 21:54] someburner commented on #217
Thank you I will try this out. I would suggest this be documented somewhere.

[2022-01-18 18:24] #217 closed

[2022-01-18 18:43] someburner commented on #217
Thanks @david-cermak !

[2022-03-31 19:54] ChristophRh opened #219 "esp_mqtt_client_publish bug with large data (IDFGH-7091)"
The description of
`esp_mqtt_client_publish()`
states
`* @param len       data length, if set to 0, length is calculated from payload string`
That is **not** true for payload larger than the configured MQTT buffer size.

**with QoS 0:**
the Broker receives only the first part and discards it

**with QoS 1:**
the Broker receives a faulty second part and the connection is reset

The bug seems to be

[2022-04-02 18:51] rtborg opened #220 "Device connected but dashboard shows false (IDFGH-7100)"
My esp32 device connects to TB and is able to push/request parameters via MQTT, firmware update also works. However, the OTA dashboard always shows Connected == false:
![image](https://user-images.githubusercontent.com/4630005/161397120-015bd2b5-a288-4038-9782-81305f7aa651.png)

Log from esp32:
[code]

[2022-04-05 12:59] #220 closed

[2022-04-08 12:01] euripedesrocha commented on #219
Hi @ChristophRh While I investigate the issue, could you please inform the version of idf you are using?

[2022-04-09 09:24] ChristophRh commented on #219
I'm using esp-idf version 4.4.0

[2022-04-11 11:25] euripedesrocha commented on #219
Hi @ChristophRh, this is already fixed, see issue #214, it will be available in idf 4.4.0 soon.

[2022-04-11 18:15] ChristophRh commented on #219
Okay thanks!

[2022-04-11 18:15] #219 closed

[2022-04-14 14:21] iAoe444 opened #221 "[BUG] Use AT command AT+MQTTCONN return ERROR code"
## Problems encountered

Use the AT command `AT+MQTTCONN` to return the error ERROR, the error code is `0x600B`

## Problematic version

Compiled esp-at version: the current latest version `16236bc`

## The error LOG is as follows

[code]

## Personal debug process

1. By adding printf log, it is found that the problem occurs in the return of line 340 of mqtt_client.c

[code]

at this time, cfg->u

[2022-04-15 03:41] ustccw commented on #221
@iAoe444 esp-at project has already fixed this in a workaround way several weeks ago. could you please try with the latest esp-at firmware.

[2022-04-15 03:44] ustccw commented on #221
it should get fixed on https://github.com/espressif/esp-at/commit/ed9e3e7f56e63dba55a2db80e583ebb99df09bae

[2022-04-26 18:53] specternecter opened #222 "Combining 2 char arrays to create a topic for client.enableEnableLastWillMessage() results in timeout when trying to connect to a broker (IDFGH-7252)"
never mind

[2022-04-26 19:19] #222 closed

[2022-05-12 15:18] ash-69 opened #223 "Possible typo in mqtt_config.h"
Should the line 65 in `include/mqtt_config.h` file:
`#ifdef MQTT_WSS_DEFAULT_PORT`
be replaced with:
`#ifdef CONFIG_MQTT_WSS_DEFAULT_PORT` ?

[2022-05-16 14:51] euripedesrocha commented on #223
Hi @ash-69, thanks for reporting. I just corrected the issue, fix should be available soon.

[2022-05-23 08:11] ser90368141 opened #225 "Keepalive failed after updating system time via SNTP (IDFGH-7427)"
When updating the system time via SNTP, the keepalive timeout immediately expires.
Steps to reproduce the error:

1. We launch a firmware that has SNTP and MQTT without an active Internet connection. MQTT reconnect time 15 seconds, keepalive 30 seconds. The system time starts counting from 0. The MQTT module is initialized and sets the keepalive time stamp from the system time (for example 1200).

[2022-05-23 08:19] ser90368141 commented on #225
What else is seen. It can be seen from the logs above that the presence of SNTP is not necessary for the error to trigger.
It is enough that the time between the initialization of MQTT and the appearance of an Internet connection is greater than the MQTT keepalive timeout.

[2022-05-23 08:20] KonssnoK commented on #225
i think i had the same issue.
i solved by updating the keepalive timer on successful connection in the mqtt_client.

[code]

last line

[2022-06-03 11:27] #221 closed

[2022-06-05 16:20] diplfranzhoepfinger opened #227 "Crosslink MQTT seems to be blocking API (IDFGH-7544)"
espressif/esp-idf#9106

[2022-06-23 09:50] KonssnoK opened #229 "A single Wifi forced disconnection blocks device from reconnecting forever."
Top of v4.4 branch 6c5fb29c2c513936ecefa7cdf49fb324e316546e

To replicate:
- connect to a phone hotspot
- switch off the hotspot
- switch back on the hotspot

[code]

[2022-06-27 17:14] euripedesrocha commented on #229
Hi @KonssnoK, could you share a small code example showing your network setup and MQTT configuration?

[2022-06-28 09:19] KonssnoK commented on #229
@euripedesrocha

Network setup:
- ESP32S3
- Phone hotspot
- Internet

MQTT configuration:
![image](https://user-images.githubusercontent.com/10288926/176142609-670d4ab2-dda1-4b1b-8544-39afa3829746.png)

Code Snippets are basically the ones of the DS example
[code]
[code]

[2022-06-28 16:20] euripedesrocha commented on #229
@KonssnoK sorry, by networking I meant the ESP32 connection configuration. I'm asking about this due to the mesh related events on your logs.

[2022-07-05 12:12] #225 closed

[2022-07-15 12:20] david-cermak commented on #227
Will be handled as https://github.com/espressif/esp-idf/issues/9106, closing this

[2022-07-15 12:20] #227 closed

[2022-07-18 17:09] michaelgaehwiler opened #230 "esp_mqtt_client_enqueue() can block the caller in unreliable connection cases (IDFGH-7853)"
Hi all,

**Finding**

`esp_mqtt_client_enqueue()` can block for the MQTT network timeout time.

**Expectations**

- `esp_mqtt_client_enqueue()` never blocks, in no circumstance (or at least blocks only for very short amount of time in the range of milliseconds).
- The blocking nature of `esp_mqtt_client_enqueue()` is documented

**Long Version**

From the [documentation](https://docs.espressif.com

[2022-07-20 16:48] someburner commented on #230
Just a suggestion- as this is what I plan to do- couldn't you just build *without* API locks and just ensure you only access the API from a single task?

I agree though- it seems that a different mutex could be used for enqueue/dequeue messages when locks are enabled.

[2022-07-21 05:57] michaelgaehwiler commented on #230
@someburner Good point, but I think this option won't work. Why: There are always two tasks involved: 1) the "user task" which enqueues the messages and 2) the ESP-MQTT task which dequeues the messages. The MQTT-ESP task is spawn automatically – no option to disable it. Therefore, disabling the lock would imply, that the underneath used `STAILQ` queue is thread safe, which is not mentioned in the

[2022-07-21 18:34] someburner commented on #230
@michaelgaehwiler

Yeah I don't think STAILQ is thread-safe. I suppose you could assume that if the esp-mqtt task is blocking due to not being connected, then it's probably not accessing those queues, but thats not really safe.

I think my proposed solution of a separate lock for enqueue/dequeue would work in theory, but looking at the esp-mqtt codebase, the API_LOCK is on the entire client struct

[2022-07-22 06:22] michaelgaehwiler commented on #230
@someburner
Yes, I fully agree and I see the same challenges. And yes, I have also thought about the workaround creating an additional task to separate the blocking nature of my watchdog-watched user task. But as already mentioned in my initial issue description, it's ridiculous to spawn another task when ESP-MQTT already spawns one – especially if the API is blocking resp. STAILQ is not thread-sa

[2022-07-22 19:00] someburner commented on #230
@michaelgaehwiler - Honestly to me that sounds like a lot more work on your part, but yes there could be a kconfig option to provide your own task method, like how there is the option to provide your own outbox implementation.

I was going to say that just using an extra queue is enough for my purposes but actually the issue is more insidious for me too I think. In my case I have qos1 messages tha

[2022-07-24 19:23] david-cermak commented on #230
Hi @michaelgaehwiler and @someburner

Thanks for reporting this problem and elaborating on a potential solution.
I think the two options (separate locks, external mqtt task) you suggested make sense and would fix the issue. The cleaner fix IMO would be using special locks for outbox. Moreover, making the current mqtt task more adjustable  for users and adding own actions seem like a bright idea, t

[2022-07-26 06:45] michaelgaehwiler commented on #230
Hi @david-cermak

Thank you for the feedback. I have no experience with event loops, but if I understand correctly, `mqtt_event_handler()` would run in the context of the ESP-MQTT internal task and thus running synchronized. Sounds like a good approach that would solve my problem. Thanks!

How to proceed? Will you take care of finalizing it or what would you expect from me?

[2022-07-26 07:09] michaelgaehwiler commented on #230
Hi @david-cermak again,

I just have thought about how I would integrate it in my code. As I'm using C++ as much as possible and to have a more generic `MQTT_USER_EVENT` that could be used in the future also for other user-specific events, I would propose to replace the fields `topic`, `data` and `qos` by a void pointer, so that I can handle everything needed in `mqtt_event_handler()`.

Why:
I cre

[2022-07-26 07:46] david-cermak commented on #230
Hi @michaelgaehwiler

Thanks! Just wanted to hear the feedback to see if the proposed user-event would help and fix your issues.

About the handler's arguments, it uses the standard type, the same as other events:

https://github.com/espressif/esp-mqtt/blob/f14eeb91570d4d5d81b7aa8d0f58750f24bb9d68/include/mqtt_client.h#L182-L207

I think we could add another field `void* user_ctx` or send user eve

[2022-07-26 08:46] someburner commented on #230
@david-cermak Just want to throw in my vote for separate outbox locks :) Seems like the main difficulty there is handling msg_id properly. What other pitfalls are there? Perhaps I should make a new issue for this feature?

For the time being I like the idea of custom user events that could be used to enqueue within the esp-mqtt task. I still need a way to ensure only 1 at a time QoS 1 publishes (a

[2022-07-26 10:25] david-cermak commented on #230
@someburner As said above, using separate outbox locks would be my preferred choice, so yes, please, create a new issue for this.

Could you please elaborate? What kind of signalling would you need? Are you trying to use QoS 1 messages for Qos 2 purpose?

[2022-07-26 17:08] someburner commented on #230
@david-cermak Okay will make separate issue for that.

Sure. Essentially I need to guarantee in-order delivery of QoS 1 messages, similar to setting the `max_inflight_messages` mosquitto option to 1 (but this is no good for me as it is not per-client on mosquitto). Using either QoS 1 or 2, it's possible to fire off multiple messages and get pub-acks at different times. Say your first QoS 1 message

[2022-07-26 18:20] someburner opened #231 "Feature request: Separate locking of outbox"
As discussed in https://github.com/espressif/esp-mqtt/issues/230, there are a variety of situations where having separate locks for outbox operations would be desirable.

1. In the case of `esp_mqtt_client_enqueue`, if the client is locked for extended periods of time due to waiting on `esp_transport_write` / network timeout, new messages cannot be enqueued quickly from an external task when locks

[2022-07-28 05:35] michaelgaehwiler commented on #230
@david-cermak Sorry for the delay until my response.

Yes, it would be great, if that solution could be provided until #231 gets available.

You're right and yes, reusing the `data` pointer would suffice – no need for an additional `void* user_ctx`.

Thanks for the suggestion! I'll take a look on it.

[2022-07-29 06:30] david-cermak commented on #230
@someburner Thanks for explaining! If I understand correctly, you're trying to implement some kind of streaming with mqtt messages. Would some platform which inherently supports steaming help in your use-case? For example, I was thinking (for some time already) about adding support for kafka client API. Do you think using apache kafka would be a solution?

I think you already thought about alterna

[2022-07-29 06:32] david-cermak commented on #230
@michaelgaehwiler Thanks for the feedback. Yes, I think the user-event would be provided before implementing separate locking.

[2022-07-29 22:25] someburner commented on #230
@david-cermak

We already have an architecture in place with thousands of ESP8266's, and that is basically what we do for that using edits to the taunpm library and a custom qos1 outbox implementation. I don't think we have the resources or want to switch to a different library/platform for ingesting data, although it is something we have thought about. I think we would run into the same issue usi

[2022-07-30 09:08] liang-zhu-zi opened #233 "MQTT_EVENT_UNSUBSCRIBED has a additional context: msg_id! (IDFGH-7950)"
MQTT_EVENT_UNSUBSCRIBED 的注释如下：
[code]

但实际上， MQTT_EVENT_UNSUBSCRIBED 有一个 msg_id 的附加内容，应修改其注释如下：
[code]

[2022-08-18 14:20] david-cermak commented on #213
Closing for short of feedback. Please reopen if needed with more details.

[2022-08-18 14:20] #213 closed

[2022-08-18 14:22] david-cermak commented on #233
@liang-zhu-zi Good point, thanks for noticing! Please feel free to file a PR with this update of documentation. will be happy to accept it and merge. (otherwise, will fix later)

[2022-08-22 07:10] #230 closed

[2022-08-22 13:18] michaelgaehwiler commented on #230
@david-cermak Thanks for the implementation! I've quickly made a code review of the changes in https://github.com/espressif/esp-mqtt/commit/97503cceb3eac8bb341e55e4a876cd7c1f3ae29b, but from my understanding, the user event will be executed after `MQTT_API_LOCK()` was called, with what I couldn't use `esp_mqtt_client_enqueue()`, because latter would also call `MQTT_API_LOCK()`. I haven't tested it

[2022-08-22 14:20] david-cermak commented on #230
Yes, the event is posted after locking the client, but that should not prevent from calling other client's API. Same as the default example publishes in the event handler:

https://github.com/espressif/esp-idf/blob/release/v4.4/examples/protocols/mqtt/ssl/main/app_main.c#L86

It's because the lock used here is a recursive mutex:

https://github.com/espressif/esp-mqtt/blob/5688a84cbc148106a57778092

[2022-08-23 05:44] michaelgaehwiler commented on #230
Oh, I missed that – thanks for clarification!

[2022-09-08 10:00] CihanAytacoglu495 commented on #50
maybe tihs problem only use ethetnet interface

[2022-09-19 12:13] sl2121 opened #235 "mqtt idf 4.4 azure iot hub (IDFGH-8336)"
hi, i would like help on how connect to the azure iot hub withe "mqtt_client" library.

my configuration is the following :

static const unsigned  char DigiCertGlobalRootG2[] = (
"-----BEGIN CERTIFICATE-----\r\n"
"MIIDjjCCAnagAwIBAgIQAzrx5qcRqaC7KGSxHQn65TANBgkqhkiG9w0BAQsFADBh\r\n"
"MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3\r\n"
"d3cuZGlnaWNlcnQuY29tMSAwHgYDVQQDExdEaWdpQ2V

[2022-09-20 13:16] priya2212 opened #236 "Problem in subscription message at esp32 client end (IDFGH-8347)"
Dear @tuanpmt,
I am new to esp-idf environment and working over esp32 mqtt - TCP example. The example is working fine with publish and subscription of message. Now, I added one thread in the main program which is just printing on terminal every one second.
Now, when I am publishing the messages on esp32 subscribed topic( /topic/qos0) from another client -> ESP32 client randomly stops listening and

[2022-09-20 14:18] euripedesrocha commented on #236
Hi @priya2212,
Could you share the logs of your running client? And if possible share the relevant parts of your code, so we can evaluate the issue.

[2022-09-21 09:33] bbinet opened #237 "Add support for getting unsent messages out of mqtt outbox (IDFGH-8355)"
I'm using esp-mqtt in a battery powered project, so to save energy I'm deep sleeping most of the time.

I send sensor data from time to time through mqtt, but if it takes too much time, I would like to return to deep sleep, and save the data which has not been actually sent (ack has not been received) to flash memory (NVS), so that I can try again the next time I wake up.

I couldn't find any API

[2022-09-21 09:40] bbinet commented on #237
Also when `MQTT_EVENT_DELETED` event is triggered, it would be helpful to be able to retrieve the data which has been deleted in case we want to do anything with it.

[2022-09-21 10:27] priya2212 commented on #236
Hi @euripedesrocha , Thank you for your message. Below is the code snippet -
`static void mqtt_event_handler(void *handler_args, esp_event_base_t base, int32_t event_id, void *event_data)
{
    ESP_LOGD(TAG, "Event dispatched from event loop base=%s, event_id=%d", base, event_id);
    esp_mqtt_event_handle_t event = event_data;
    esp_mqtt_client_handle_t client = event->client;
    int msg_id;

[2022-09-21 10:30] euripedesrocha commented on #237
Hi @bbinet, in your case, I would suggest taking the route of writing your own outbox.

[2022-09-21 10:33] euripedesrocha commented on #235
Hi @sl2121, could you share the logs for the failed connection?

[2022-09-22 06:05] sl2121 commented on #235
I have started from the sntp example and i continued with the mqtt part.
 What is the meaning of : esp-tls-mbedtls: Certificate verified.
Is that the esp has verified that the certificate is correct ?
Thanks.

[0;32mI (17122) MQTTS_EXAMPLE: Other event id:7[0m
[0;31mE (23882) esp-tls-mbedtls: mbedtls_ssl_handshake returned -0x7080[0m
[0;32mI (23892) esp-tls-mbedtls: Certificate verified.[0m

[2022-09-22 11:59] sl2121 commented on #235
hi i have loaded the ESP-MQTT SSL Sample application.

static void mqtt_app_start(void)
{
    const esp_mqtt_client_config_t mqtt_cfg = {
        .uri = CONFIG_BROKER_URI,
        .cert_pem = (const char *)mqtt_eclipseprojects_io_pem_start,
    };
mqtt_eclipseprojects_io_pem_start inside here i have put the  DigiCertGlobalRootG2[] "MIIDjjCCAn...MrY"

and i see :

[0;32mI (6592) example_connect: G

[2022-09-22 12:03] sl2121 commented on #235
After in the
static void mqtt_app_start(void)
{
    const esp_mqtt_client_config_t mqtt_cfg = {
        .uri = "mqtts://miothub.azure-devices.net:8883",
        .cert_pem = (const char *)mqtt_eclipseprojects_io_pem_start,
    };

i see

[0;32mI (6612) example_connect: - IPv4 address: ***********
[0;32mI (6612) example_connect: - IPv6 address: *******************, type: ESP_IP6_ADDR_IS_LINK_LOCAL

[2022-09-22 13:49] priya2212 commented on #236
QoS - 0, tested with 1 as well. Facing same problem.
In the logs, even I don't see any issues captured. Just that I have MQTTLens/MQTTBox as another client and ESP32 as one client. Sending the messages from MQTT Lens manually to ESP32, it reads for few minutes, then it suddenly and randomly stops reading the message on subscribed topic.
I created one more thread -publish client (where I am continu

[2022-10-07 13:59] LisaTamanti1965 opened #238 "MQTT client resends message with qos = 1 (IDFGH-8476)"
Hi

I'm started to work with ESP32 configured as MQTT client.
I noted that when I send a message with qos = 1 (in the example below, msg with id = m23462) the device receives more than one PUBACK...I guess that is due to dalay in receiving PUBACK...so the message is repeated a number of times I received PUBACK.
No LOG when the message is sent again?
how many time to wait PUBACK before to resend me

[2022-10-07 14:19] euripedesrocha commented on #238
Hi @LisaTamanti1965, you are correct. If the PUBACK is delayed, the message is transmitted again.

 We recently added the log for duplicated message sent, so it should be available depending on the version you are using.

It's possible to control the timeout through the `message_retransmit_timeout` field in the configuration. The behavior is the same for both QoS 1 and 2 messages.

[2022-10-07 14:30] LisaTamanti1965 commented on #238
I'm using ESP-IDF 4.4.1

[2022-10-07 14:48] LisaTamanti1965 commented on #238
Sometimes I have this type of LOG (see below) what could be the cause?
Connection by GSM is closed or other?

I (1253690) CLOUD_COMM: Sending 1 from CH 1 (m0): {"cmd":1,"pyl":{"state":7,"modfun":10,"manut":0,"uid":"","tot_c":721,"rel_c":0,"sf":0,"maxsf":0,"log":0,"adv":0,"out":[1,1]},"ts":"2ad31806","tsid":"1315ce"}
V (1254294) MQTT_CLIENT: mqtt_message_receive: transport_read(): no data or EOF
E

[2022-10-10 10:39] LisaTamanti1965 commented on #238
I have an other question about MQTT....if the device doesn't receive PUBACK.....continues to send messages? How many messages are sent before to stop? Or how many time remain in this status (resending msg)?
Is it possible to set how many resend  or how many time?

[2022-10-11 13:04] euripedesrocha commented on #238
Hi @LisaTamanti1965,
in the shared log there was a failure in receiving the data and the client will abort connection and reconnect, depending on your configuration.

About the messages that don't have a PUBACK there will be as many retries as possible until `CONFIG_MQTT_OUTBOX_EXPIRED_TIMEOUT_MS`  when the message will be deleted. It's possible to have an event if you configure the client to noti

[2022-10-12 07:02] LisaTamanti1965 commented on #238
Thank you very much for your help!!!!

[2022-10-12 07:02] #238 closed

[2022-10-17 15:11] KonssnoK opened #239 "[v4.4.2] Doing start + stop + start triggers an error (IDFGH-8543)"
As per title,

if i do
esp_mqtt_client_start
esp_mqtt_client_stop
esp_mqtt_client_start

the last start returns an error.

I had to modify the code to see what was the error (please make significant error messages).

The internal state machine of the MQTT client is stuck on MQTT_STATE_WAIT_RECONNECT.

the issue is in esp_mqtt_client_stop, where the state of the machine is put before waiting for th

[2022-10-21 16:21] #233 closed

[2022-10-22 11:55] someburner opened #240 "esp_mqtt_dispatch_custom_event: esp_event_post_to sometimes times out (IDFGH-8576)"
I'm trying to get the new `esp_mqtt_dispatch_custom_event` feature to work to be able to interact with esp-mqtt safely and asynchronously, but I noticed sometimes I get a timeout err returned from `esp_mqtt_dispatch_custom_event`.

Is there a reason the `ticksToWait` param of `esp_event_post_to` is set to 0?

In my case I'm sending the event fairly quickly after getting an `MQTT_EVENT_CONNECTED` e

[2022-10-24 05:23] Alvin1Zhang commented on #237
Thanks for reporting, would close due to short of feedback, feel free to reopen.

[2022-10-24 05:23] #237 closed

[2022-10-24 09:33] KonssnoK commented on #239
Example of workaround
![image](https://user-images.githubusercontent.com/10288926/197495710-b7d66194-13ab-4055-962d-7592a528c925.png)

[2022-10-25 07:12] KonssnoK commented on #239
any feedback?

[2022-10-25 08:45] euripedesrocha commented on #239
Hi @KonssnoK thanks for reporting.
I'm investigating the issue and for clarification:
- The client was in MQTT_STATE_WAIT_RECONNNECT when the `esp_mqtt_client_stop` was called?
- The call for `esp_mqtt_client_stop` returned `ESP_OK`?

[2022-10-25 14:31] KonssnoK commented on #239
hello @euripedesrocha ,
- Yes, it's visible in the logs `E (15:03:06.302) MQTT_CLIENT: Client has started 3`
- Yes, ESP_OK

[code]

[code]

[2022-10-26 11:40] euripedesrocha commented on #239
Hi @KonssnoK, from your information we identified the issue, and we have a fix for it. Yet I wasn't able to reproduce the scenario. Could you share more about your configuration and client usage?

[2022-10-26 12:56] KonssnoK commented on #239
no standard configuration.

We have a MESH networking,
on Parent disconnection we trigger

[code]

on IP received we do

[code]

once we do

[code]

[2022-10-26 13:09] david-cermak commented on #240
Would it help if you increase `MQTT_EVENT_QUEUE_SIZE` ? (Sorry this hasn't been made a config option yet)

I guess we can add it to the function parameter lists if needed, this wasn't referenced from any IDFs `v5.x`, so we could still adjust the API.
I think the idea was to avoid potential deadlocks (as if the queue is full, we'd have to wait for mqtt task that might have a dependency on this user

[2022-10-26 13:40] #239 closed

[2022-10-26 23:27] someburner commented on #240
my `MQTT_EVENT_QUEUE_SIZE` is already at 10. In this case I'm dispatching 2 user events that perform subscribe calls once they're run by event loop. Maybe I really am hitting 10, I'll have to add some debugs, but seems like the timeout error might not be due to the queue being full..

I figured that was why but wanted to check. In my case I'm using `esp_event_post_to` for all the exposed esp-mqtt

[2022-10-28 01:33] Alvin1Zhang commented on #235
Thanks for reporting, will close due to short of feedback, feel free to reopen with more updates. Thanks.

[2022-10-28 01:33] #235 closed

[2022-10-31 14:35] KonssnoK commented on #239
@david-cermak could you please notify when the esp-mqtt component is pushed on esp-idf v4.4?
thanks!

[2022-11-02 08:46] david-cermak commented on #239
@KonssnoK Will reference this fix in IDF `release/v4.4` together with the other issue you posted in IDF https://github.com/espressif/esp-idf/issues/9492. As a subscriber to that issue, you should receive an automatic notification when we close it and that would also mean that this fix is available as well.

So, does the [af58f5f](https://github.com/espressif/esp-mqtt/commit/af58f5f2e5691cdf6729b17

[2022-11-02 08:51] KonssnoK commented on #239
@david-cermak we haven't checked yet, working on other issues with your colleagues.
Sure I'll reopen in case i see any issue :)

[2022-11-07 06:39] AxelLin commented on #239
I cannot find the fix in esp-idf v4.x branches (v4.4 and v4.3), would you please update the esp-idf submodule and push the fix?

[2022-11-07 06:59] euripedesrocha commented on #239
@AxelLin the back porting process is ongoing. It takes a little to be available due to the testing process to avoid regressions.

[2022-11-13 21:57] pherna06 opened #241 "Is it safe to use 'strlen'? (IDFGH-8733)"
Been looking the repository code for a project and realized that, when publishing, `topic` is passed as a `const char*` to `esp_mqtt_client_publish`, but `topic` string length is not passed.

Eventually, that pointer gets to `mqtt_msg_publish` in `mqtt_msg.c` where this is done:

[code]

My question is whether that use of 'strlen' is safe, as a pointer to an unsafe string (non null-terminated) cou

[2022-11-21 07:34] euripedesrocha commented on #241
Hi @pherna06, you are correct that this usage could be problematic, but it's a common pattern in C code to have NULL terminated `char *`.
In this particular case, it's expected that the topic data is transmitted over a secure connection to a known broker in the user system, therefore some data exposure wouldn't be a great problem.